.Rproj.user
.Rhistory
.RData
.Ruserdata
revdep
docs/index_files
docs/index.html
docs/index.md
inst/rmarkdown/templates/mini_document/skeleton_files/
inst/rmarkdown/templates/mini_document/skeleton.html
