div.sourceCode {
  margin: 0;
}

pre.sourceCode {
  margin: var(--universal-margin);
}

pre, .sourceCode pre {
  overflow-x: auto;
}

nav code {
  background-color: transparent;
}

.chunk-summary {
  text-align: right;
  margin-right: var(--universal-margin);
}
.chunk-output,
.chunk-message,
.chunk-warning,
.chunk-error {
  background-color: white;
}
pre code {
  background-color: transparent;
  padding: 0;
}

header {
  height: auto;
}

nav > ul {
  margin: 0;
  padding: 0;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding: 0;
}
nav ul ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

article > .collapse {
  margin: 0;
  width: auto;
}

article > .collapse > label,
article > .collapse > label + div,
article > .collapse > :checked + label + div {
  margin: 0 calc(2*var(--universal-margin));
  width: calc(100%-4*var(--universal-margin));
}
