@media screen and (min-width: 900px) {
  body {
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
  }
  nav {
    grid-row: 1 / -1;
    grid-columns: 1 / 2;
    border: none;
    margin: 0 25px 0 0;
  }
  nav > ul {
    position: sticky;
    top: var(--universal-padding);
    max-height: 85vh;
    overflow-y: auto;
    border: .0625rem solid var(--nav-border-color);
    border-radius: var(--universal-border-radius);
  }
}
