@media screen and (max-width: 960px) {
  header, nav, article {
    padding: 0 3rem;
  }
}
#TOC {
  font-size: 0.9em;
  border: none;
}
#TOC > ul {
  box-sizing: border-box;
}
#TOC ul {
  margin: 0;
}
#TOC li, #TOC a {
  margin: 0;
  padding: 0;
}
