
.collapse {
  width: calc(100% - 1rem);
  opacity: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 0.125rem;
}

.collapse > [type="radio"], .collapse > [type="checkbox"] {
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.collapse > label {
  flex-grow: 1;
  display: inline-block;
  height: 1.5rem;
  cursor: pointer;
  transition: background 0.3s;
  color: #212121;
  background: #e8e8e8;
  border: 0.0625rem solid #ddd;
  padding: 0.75rem;
}

.collapse > label:hover, .collapse > label:focus {
  background: #f0f0f0;
}

.collapse > label + div {
  flex-basis: auto;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  transition: max-height 0.3s;
  max-height: 1px;
}

.collapse > :checked + label {
  background: #ececec;
  border-bottom-color: #ececec;
}

.collapse > :checked + label + div {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0;
  border: 0.0625rem solid #ddd;
  border-top: 0;
  padding: 0.5rem;
  clip: auto;
  -webkit-clip-path: inset(0%);
  clip-path: inset(0%);
  max-height: 400px;
}

.collapse > label:not(:first-of-type) {
  border-top: 0;
}

.collapse > label:first-of-type {
  border-radius: 0.125rem 0.125rem 0 0;
}

.collapse > label:last-of-type:not(:first-of-type) {
  border-radius: 0 0 0.125rem 0.125rem;
}

.collapse > label:last-of-type:first-of-type {
  border-radius: 0.125rem;
}

.collapse > :checked:last-of-type:not(:first-of-type) + label {
  border-radius: 0;
}

.collapse > :checked:last-of-type + label + div {
  border-radius: 0 0 0.125rem 0.125rem;
}
