@media screen and (min-width: 900px) {
  body {
    min-width: 900px;
    max-width: 62.5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto;
  }
  header, article {
    min-width: calc(600px - 4rem);
    max-width: calc(100% - 4rem);
    padding: 0 0 0 4rem;
  }
  nav {
    grid-row: 1 / -1;
    grid-columns: 1 / 2;
    border: none;
    margin: 0;
    width: 300px;
  }
  nav > ul {
    position: sticky;
    max-height: 85vh;
    overflow-y: auto;
    top: 5px;
  }
}


@media screen and (max-width: 900px) {
  header, nav, article {
    padding: 0 3rem;
  }
}
